html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

.skyBlue{
    background-color:rgb(165, 220, 241);
}

.big{
    height:1000px;
    width:100%;
    border:1px black solid;
}

.line{
    text-decoration: line-through;
    font-weight: bold;
}

.recipeSteps{
    list-style: inside;
    list-style-type:decimal;
}

.imgContainer{
    background:url("https://wallpaperaccess.com/full/58330.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:992px){
    .containerWidth{
        max-width:100vw;
        height:70vh;
    }    
}

@media screen and (min-width:992px){
    .containerWidth{
        max-width:50vw;
        height:90.5vh;
    }    
}

